*{
	margin:0;
	padding:0;
}
.container{
	display:flex;
	justify-content:center;
	align-items:center;
	border:2px solid black;
}
.box{
	height:200px;
	width:200px;
	background-color:lightblue;
	border:2px solid black;
	color:purple;
	display:flex;
	justify-content:center;
	align-items:center;
}
